/* header & footer */

* {
	background: transparent;
	box-sizing: border-box;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

.hide-text {
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

header {
	background-color: #7DDFE8;
	display: flex;
	flex-direction: row;
}

h1.hide-text {
	background-color: #F5005B;
	background-image: url('../imgs/filmclub.png');
	background-position: center center;
	background-size: 84%;
	width:30%;
	}

nav {
	display: flex;
	flex-direction: column;
	height: 15%;
	text-align: center;
	width: 100%;
}

nav a {
	color: #FFF;
	flex: 1;
	font-size: .7rem;
	padding-top: 4%;
	text-decoration: none;
	text-transform: capitalize;
	text-align:center;

}

nav a:nth-child(1) {
	background-color: #00A5BF;
}

nav a:nth-child(2) {
	background-color: #00B7D3;
}

nav a:nth-child(3) {
	background-color: #00D5E7;
}

/* header & footer */

body {
	font-family: 'PT Sans', sans-serif;
	font-size: .85rem;
}



.get-involved, .up-next {
	padding: 6%;
}

.get-involved h2 {
	color: #0B1942;
	font-size: 1.5rem;
	font-weight: 400;
    margin-bottom: 5%;
}

.get-involved h3 {
	background-color: #0B1942;
	color: #FFF;
	font-size: 1.2rem;
	font-weight: 400;
    padding: 1% 4.75%;
    margin-bottom: 6%;
}

.get-involved p {
	margin-bottom: 5%;
}

.up-next{
	background-color: #0B1942;
}

.up-next h2{
	color: #FFF;
	font-weight: 400;
    padding: 0 19px 5%;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.film-box-one{
	background-color: #CCC;
	margin-bottom: 3%;
	padding: 3%;
}

.film-box-two{
	background-color: #CCC;
	margin-bottom: 3%;
	padding: 3%;
}

.film-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 2%;
}

.film {
	flex: 1 0 50%;
	padding: 5px;
}

.film img {
	margin-bottom: 1%;
	width: 100%;
}


.film a {
	color: #00B7D3;
	margin-bottom: 1%;
}

.up-next-text a {
	font-size: 1.2rem;
	margin-bottom: 10%;
}

.up-next-text hr {
	margin: 8% 0;
}

.up-next-text ul {
	list-style: circle;
	list-style-position: inside;
	margin-left: 10px;
	margin-top: 2%;
	padding-left: 5px;
}

.up-next-text ul li {
	margin-bottom: 2%;
}

.up-next-text .discussion-points {
	font-weight: 700;
}

.copy-right {
	background-color: #7DDFE8;
	color: #fff;
	text-align: center;
	padding: 7% 3% 7% 2%;
}

.meetup-calendar{
	padding-top:20px;
	padding-bottom:20px;
}
.meetup-calendar p{
	color: #0B1942;
	font-size: 1.8rem;
	padding: 1% 3%;
}


.calendar{
background-color: #0B1942;
padding-bottom: 6%;
}

.calendar p{
	color: #FFF;
	font-size: 1.3rem;
	padding: 2% 3%;
}

.calendar-form{
	background-color: #FFF;
	display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.calendar-row {
	display:flex;
	flex-direction: row;
}

form{
	padding:6% 6% 0% 5%;
}
form h2{
	color: #0B1942;
	font-size: 1.6rem;
	font-weight: 400;
	padding-bottom: 10%;
}

.box{
	border: 1px solid #0B1942;
	color: #FFF;
	height: 8%;
	text-align: center;
	width: 14.35%;
}

.inputs{
	display: flex;
	flex-direction: column;
}

.password{
	display:flex;
	flex-direction:column;
}

.confirm{
	display:flex;
	flex-direction:column;
}

.box-number{
	background-color:#0B1942;
	color:#FFF;
	width: 50%;
	height: 55%;
}

.box.special{
	background: #F5005B;
}

.box.empty{
	background-color:#0B1942;
}

.profile-placeholder-image{
	padding-bottom: 10%;
}
.profile-placeholder-image img{
	border-radius: 50%;
	height: 42%;
}

input{
	border: 1px solid lightgray;
  border-radius: 3px;
	margin-bottom: 5%;
	padding: 8px;
}

#file{
	border:none;
}

.genres{
	padding-bottom:8%;
}

.additional-input{
	padding-bottom:1%;
}

textarea{
	height: 6%;
	padding-bottom:2%;
	width: 100%;
}

.join-film-club{
		padding: 3% 4%;
    color: #FFF;
    margin-top: 10%;
    display: flex;
    width: 40%;
    height: 6%;
		background-color:#F5005B;
}



/*tablet layout home page*/

@media screen and (min-width: 545px) {

	h1.hide-text{
		width:14%;
	}

	nav{
		flex-direction:row;
		width:50%;
	}

	nav a{
		height:100%;
		padding-top:14%;

	}

	footer{
		display:flex;
		width:100%;
	}

	footer nav a{
		height: 114%;
		width:20%;
	}

	.copy-right{
		padding-left:28%;
		padding-top:7%;
		width:50%;
	}

	.lorem-points{
		display:flex;

	}

	.lorem-points-divided{
		width: 33%;
		margin: 1%;
	}

	.film-box-two{
		display:flex;
	}

	.join-film-club{
	padding: 3% 2% 6%;
	}

	.checkboxes{
		display:flex;
		flex-wrap:wrap;
	}

	.single-box{
		width:50%;
	}

	.join-film-club{
		width: 22%;
	}

	.profile{
		display:flex;
	}

	.profile-stuff{
		display:flex;
		flex-direction:column;
		width:40%;
	}

	.inputs{
		width:44%;

	}

}

@media screen and (min-width: 768px) {

	h1.hide-text{
		width:10%;
	}

	nav{
		width:30%;
	}

	nav a{
		padding-top:17%;
	}

	.copy-right{
		padding-left: 55%;
    padding-top: 5%;
    width: 70%;
	}

	film-box-one{
		width:46%;
	}

	film-box-two{
		width:46%;
	}

	.inputs{
		flex-direction: row;
		width:50%;
	}

	footer{
	max-height: 100%;
	}

	footer nav{
		height:21%;
	}

	footer nav a{
		padding-top: 24%;
	}

	.copy-right{
		padding-top: 7%;
	}

	.single-box{
		width: 33.333333%;
	}

	.join-film-club{
		width: 18%;
	}

	.film-boxes{
		display:flex;
	}

	.film-box-two{
		flex-direction:column;
		width:60%;
		}

	.film-box-one{
		margin-right:2%;
		height:50%;
	}
}
